body {
background-color:blue;
}

p {
color:yellow;
font-family:Arial;
padding:5px;
}

h1, h3 {
color:orange;
font-family:"AR DESTINE";
}

th, td {
border: 1px solid white;
}

table, th {
color:yellow;
}

table, td {
color:white;
}

footer {
color:white;
font-size:20px;
padding:10px;
margin-left:300px;
}
